/* Contenedor principal de la galería */
.galleryContainer {
  width: 100%;
  margin-bottom: 150px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; /* Añadir algo de padding para mejor espaciado */
}

.galleryItemsContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas por defecto */
  grid-auto-rows: 400px; /* Altura de las filas */
  gap: 10px; /* Espacio entre las imágenes */
  margin: 20px 0; /* Espaciado superior e inferior */
}

/* Cada item de la galería */
.item {
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Añadir transición para el hover */
}

/* Imagen dentro del item */
.item img {
  transition: filter 0.3s ease; /* Para transiciones suaves en el filtro */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen */
  border-radius: 8px;
}

.item:hover img {
  filter: blur(5px); /* Aplica el desenfoque en hover */
}

.item:hover {
  transform: scale(1.05); /* Ligero zoom en el hover */
}

/* Contenedor del título */
.titleContainer {
  width: 80%;
  text-align: left;
  padding-top: 50px;
  margin-bottom: 30px;
}

/* Rectángulo rojo debajo del título */
.rectangle {
  width: 100%;
  height: 3px;
  background-color: #db2955;
}

/* Modificaciones para imágenes grandes y anchas */
.large {
  grid-row: span 2; /* Ocupa dos filas */
}

.wide {
  grid-column: span 2; /* Ocupa dos columnas */
}

/* Media Query para pantallas medianas (hasta 1250px) */
@media (max-width: 1250px) {
  .galleryItemsContainer {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  }

  .large {
    grid-row: span 1; /* Una fila */
  }

  .wide {
    grid-column: span 1; /* Una columna */
  }
}

/* Media Query para pantallas pequeñas (hasta 850px) */
@media (max-width: 850px) {

  .galleryContainer {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .galleryItemsContainer {
    width: 80%; /* Ocupa el 100% del ancho */
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 25px; /* Espaciado entre las imágenes */
  }



  .large {
    grid-row: span 1; /* Una fila */
  }

  .wide {
    grid-column: span 1; /* Una columna */
  }

  .item:hover img {
    filter: none; /* Quitar el filtro en hover */
  }
}

@media (max-width: 600px) {
  .galleryItemsContainer {
    width: 100%;
  }
}