.commonButtonContainer {
    border-radius: 40px;
    font-size: 30px;
    color: rgba(245, 245, 245, 0.626);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #483b4165;
    /* border: solid 3px var(--terciary); */
    transition: all 0.6s ease;
    cursor: pointer;
}

.commonButtonContainer h3 {
    font-size: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-right: 20px; */
}

.commonButtonContainer:hover {
    background-color: #5c4b55a5;
    box-shadow: rgba(202, 202, 216, 0.2) 0px 7px 29px 0px;
    /* border: solid 3px var(--terciary); */
}