/* styles.module.css */

.classesContainer {
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    display: flex; /* Cambia de grid a flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre las tarjetas */
    
}

.titleContainer {
    width: 80%;
    text-align: left;
    padding-top: 50px;
    margin-bottom: 30px;
}

.rectangle {
    width: 100%;
    height: 3px;
    background-color: #DB2955;
}



.articlesContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between; 
    align-items: center;
    gap: 20px;

}
.cardContainer {
    cursor: pointer;
    width: 100%; /* Tamaño máximo */
    height: 450px;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden; /* Evita el desbordamiento */
}

.cardOpacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(237, 34, 166, 0.208);
    opacity: 0;
    transition: all ease .4s;
}

.cardOpacity:hover {
    opacity: 1;
}



.cardContainer img {
    z-index: 0;
    object-fit: cover;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: 100%; /* Asegura que la imagen ocupe toda la altura */
    position: relative;
}

.textContainer {
    color: antiquewhite;
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: -25px; /* Comienza fuera de la vista */
    padding: 20px;
    background-color: #E01A4F; /* Fondo semitransparente */
    z-index: 10;
    transition: bottom 0.5s ease; /* Suaviza la animación */
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.cardContainer:hover .textContainer {
    bottom: 0; /* Se mueve hacia arriba al hacer hover */
}

.textContainer h3 {
    margin-bottom: 20px;
}

.textContainer p {
    opacity: 0; /* Inicialmente oculto */
    height: 0; /* Sin espacio */
    overflow: hidden; /* Oculta el desbordamiento */
    transition: opacity 0.5s ease, height 0.5s ease; /* Suaviza la aparición */
}

.cardContainer:hover .textContainer p {
    opacity: 1; /* Muestra la descripción al hacer hover */
    height: auto; /* Permite el espacio necesario */
}

@media (max-width: 1250px) {
    .cardContainer {
        
        height: 300px;
    }
}

@media (max-width: 850px) {

    .classesContainer {
        height: fit-content;
    }
    .articlesContainer {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .cardContainer {
        height: 400px;
    }
}